In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stock-python-for-geeks.csv')

In [3]:
df.head(2)

   Stock Price
0        50.12
1        54.10

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
dfs = pd.read_csv('stock-python-for-geeks.csv',squeeze=True)

In [6]:
dfs.head(2)

0    50.12
1    54.10
Name: Stock Price, dtype: float64

In [7]:
type(dfs)

pandas.core.series.Series

In [8]:
def price_tagger(num):
    
    if num < 300:
        return "low"
    else:
        return "high"

In [9]:
#df2 = df.apply(price_tagger) #--> THIS BREAKS
dfs2 = dfs.apply(price_tagger) #--> THIS WORKS

In [10]:
dfs2

0        low
1        low
2        low
3        low
4        low
        ...
3007    high
3008    high
3009    high
3010    high
3011    high
Name: Stock Price, Length: 3012, dtype: object