In [1]:
import pandas as pd
import numpy as np

In [2]:
df_c = pd.read_csv('stock-python-for-geeks.csv',squeeze=True)

In [3]:
df_c.columns = ['Close']

In [4]:
df_c.head(2)

0    50.12
1    54.10
Name: Stock Price, dtype: float64

In [5]:
def set_open(num):
    return np.random.normal(num,2)

In [6]:
df_o = df_c.apply(set_open)
df_o.head(2)

0    51.153637
1    56.899920
Name: Stock Price, dtype: float64

In [7]:
df = pd.concat([df_o,df_c],axis=1)
df.columns = ['Open','Close']

In [8]:
df.head(2)

        Open  Close
0  51.153637  50.12
1  56.899920  54.10

In [9]:
df["Delta"] = df["Close"] - df["Open"]

In [10]:
df.head(2)

        Open  Close     Delta
0  51.153637  50.12 -1.033637
1  56.899920  54.10 -2.799920

https://pandas.pydata.org/pandas-docs/stable/style.html

In [11]:
df[:10].style.bar(subset=['Delta'],align='mid',color=['#d65f5f', '#5fba7d'])